# 2.4 Train / Test data split en Python

Para esta operación usaremos:

* scikit-learn para train_test_split
* pandas para pandas.DataFrame.pop
* seaborn para cargar el dataset

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html#sklearn.model_selection.train_test_split

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html

https://seaborn.pydata.org/generated/seaborn.load_dataset.html

## Cargamos librerías

In [1]:
import seaborn as sns
from sklearn.model_selection import train_test_split

## Cargamos los datos

In [2]:
titanic = sns.load_dataset("titanic")
titanic.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

## Establecemos la semilla para garantizar reproducibilidad

In [3]:
random_state=42

## Cargamos los datos

In [4]:
y = titanic.pop("survived")
X = titanic

print(X.dtypes)
print(y.dtypes)

pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object
int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=random_state)

## Exploramos la división

In [8]:
print(len(titanic))
print(len(X_train))
print(len(y_test))

891
267
624